:root {
    --background-color: #09193E;
    --accent-text: #0D43C0;
    --white: #F4F4F4;
    --black: #333;
    --gray: #eee;
}

body{
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    overflow: auto;
}

/* Navbar Styles */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.app-name {
    padding: 0 2rem;
}
.nav-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    margin-left: 6rem;
    padding: 0;
}
.nav-links li {
    margin: 0 2rem;
}
.nav-links a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-links a:hover {
    text-decoration: underline;
}
.nav-links a.active {
    text-decoration: underline;
}

/* Main Content Styles */
/* Offering Section */
.offering{
    display: flex;
    align-items: center;
}
.offering-text{
    flex: 1;
    padding: 2rem;
    text-align: center;
}
.offering-text h2{
    color: var(--background-color);
    font-size: 2.5rem;
}
.offering-text p{
    font-size: 1.2rem;
    line-height: 1.6;
            color: var(--black);
}
.offering-image img {
    flex: 2;
    padding: 2rem;
    width: 50vw;
    height: auto;
}

/* Users Section */
.users-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--gray);
}
.users-card {
    flex: 1;
    border: 2px solid var(--background-color);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}
.users-card h3 {
    color: var(--background-color);
    font-size: 2rem;
}
.users-card p {
    font-size: 1.1rem;
    line-height: 1.5;
}
.users-card ul {
    list-style-type: none;
    padding: 0;
}
.users-card li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color: var(--black);
}

/* Resources Section */
.resources{
    display: flex;
    padding: 2rem;
}
.resources-header{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    font-size: 2rem;
    color: var(--background-color);
}
.resources ul {
    flex: 2;
    list-style-type: none;
    padding: 0;
}
.resources li {
    margin-bottom: 1.5rem;
}
.resources a {
    font-size: 1.2rem;
    color: var(--accent-text);
    text-decoration: none;
    font-weight: bold;
}
.resources a:hover {
    text-decoration: underline;
}
.resources p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--black);
}

/* Idea Page Specific Styles */
.header-text {
    color: var(--background-color);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
}

.idea-section, .features-section, .app-operation-section {
    padding: 2rem;
    text-align: center;
}
.idea-section p, .app-operation-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--black);
}
.features-section{
    background-color: var(--gray);
}
.features-section ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}
.features-section .main-topic{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--background-color);
}

.idea-section{
    display: flex;
    background-color: var(--white);
    gap: 2rem;
}
.idea-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.idea-section h3{
    color: var(--background-color);
    font-size: 2rem;
    margin: 0;
}
.idea-section img {
    flex: 1;
    padding: 2rem;
    width: 40vw;
    height: auto;
}

.app-operation-section{
    display: flex;
    background-color: var(--white);
}
.op-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 1rem;
}
.op-img h3{
    color: var(--background-color);
    font-size: 2rem;
    margin: 0;
}
.op-img img {
    flex: 1;
    padding: 2rem;
    width: 50vw;
    height: auto;
}


/* Footer Styles */
footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--white);
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 1100px) {
    .offering {
        flex-direction: column;
    }
    .offering-image img {
        width: 90vw;
    }
    .users-container {
        flex-direction: column;
        align-items: center;
    }
    .users-card {
        width: 80%;
        margin-bottom: 1rem;
    }
    .resources {
        flex-direction: column;
    }
    .resources-header {
        padding-right: 0;
        margin-bottom: 1rem;
    }
    .features-section ul {
        flex-direction: column;
        align-items: center;
    }
    .features-section li {
        margin-bottom: 1rem;
    }
    .idea-section {
        flex-direction: column-reverse;
    }
    .idea-section img {
        width: 90vw;
        padding: 0;
    }
    .app-operation-section {
        flex-direction: column;
    }
    .op-img img {
        width: 90vw;
        padding: 0;
    }

}